In [6]:
import os
import pandas as pd
from pyproj import Proj, transform

In [7]:
utm_proj = Proj(proj='utm', zone=52, ellps='WGS84', south=False)
geo_proj = Proj(proj='latlong', datum='WGS84')

In [8]:
east, north = 424302.983871, 4114245
transform(utm_proj, geo_proj, east, north)

/var/folders/bk/03p2dw31415ct52_2rx56fmm0000gn/T/ipykernel_2958/2226334165.py:2: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  transform(utm_proj, geo_proj, east, north)

(128.147331960645, 37.17156278668694)

In [14]:
location = pd.read_csv('UTM_coordinates.csv')
location.head()

   segment_id           east      north
0        1327  424302.983871  4114245.0
1          39  432890.811966  4105993.0
2         852  431139.941995  4104210.0
3        1656  408804.227468  4107366.0
4        1886  426084.429658  4101107.0

In [16]:
location['transformed'] = location.apply(lambda row : transform(utm_proj, geo_proj, row['east'], row['north']), axis = 1)

location.head(1)

/var/folders/bk/03p2dw31415ct52_2rx56fmm0000gn/T/ipykernel_2958/252560756.py:1: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  location['transformed'] = location.apply(lambda row : transform(utm_proj, geo_proj, row['east'], row['north']), axis = 1)

   segment_id           east      north                            transformed
0        1327  424302.983871  4114245.0  (128.147331960645, 37.17156278668694)

In [17]:
location['lon'] = location['transformed'].apply(lambda x : x[0])
location['lat'] = location['transformed'].apply(lambda x : x[1])

In [18]:
location.head(3)

,segment_id,east,north,transformed,lon,lat
0,1327,424302.983871,4114245.0,"(128.147331960645, 37.17156278668694)",128.147332,37.171563
1,39,432890.811966,4105993.0,"(128.24479862874682, 37.09784046286478)",128.244799,37.097840
2,852,431139.941995,4104210.0,"(128.22526075736144, 37.08164234011186)",128.225261,37.081642

In [19]:
location.shape

(54, 6)

In [20]:
location[['lon', 'lat']].to_csv('./longlat_coordinates.csv', index=False)